body {
    font-family: sans-serif;
  }
  
  textarea {
    height: 275px;
    width: 175px;
    resize: none;
  }
  
  table {
    text-align:left;
  }
  
  #result {
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
  }